*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif, Times New Roman;
    box-sizing: border-box;
}

.body{
    min-height: 100vh;
    color: snow;
    position: relative;
    background: #1d2026;
    width: 100%;
}

nav{
    align-items: center;
    display: flex;
    padding: 20px 1%;
}

nav .logo{
    width: 250px;
    cursor: pointer;
}

nav .menuicon{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navtext{
    text-decoration: none;
    color: white
}

.wrapper{
    display: flex;
    margin-left: 70px

  }

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;

  }

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

  }

.dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

@keyframes slide {
    100%{
      top: -360px;
    }
  }

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1d2026;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }

@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

h1{
  font-size: 70px;
}

.start_text{
  font-size: 30px;
  margin: 50px
}

.form {box-sizing: border-box;}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
  width: 50%;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.dropdown{
  margin-left: 560px;
}



.chat{
  width: 1500px;
  height: 700px
}