{% extends "layout.html" %}

{% block title %}
Getting Started
{% endblock %}

{% block main %}
<h1><center>Welcome {{ show_name }} . . . 🛏️</center></h1>
<p class="start_text">Finding roommates is difficult. With Dormant, users are able to enter their preferences, schedules, and interests in order to find them
    an ideal roommate for the school year. Beyond finding a roommate to match with, Dormant will also allow you to message the individual, sparking a
    conversation between your fellow colleagues. Join today by reading the information below to set up an account and find a match.
</p>
<div>
    <!-- used canva to make robot-->
    <center><img src = "static/startrobot.gif" width = 350></img></center>
</div>
<h1><center>How to use. . . 📚</center></h1>
    <ol class = start_text>
        <li>☑️ Start by navigating to the "Find a Roommate" Tab</li>
        <li>❓ Filling out the short questionnaire</li>
        <li>🛏️ Get matched by navigating to the "Match Me" tab</li>
        <li>👥 Contact your potential roommate (by the Chat tab) or by email</li>
        <li>🆕 Update your profile using the "Update Profile" tab</li>
    </ol>
<div>.</div>
{% endblock %}
